<%= form_for @budget, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <div class="control-group">
      <%= f.label :description, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :description %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :money_kind, class: "control-label" %>
      <div class="controls">
        <%= f.select(:money_kind, options_for_select([['income', 'income'], ['expense', 'expense']])) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :amount, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :amount %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, class: "control-label" %>
      <div class="controls">
        <%= f.date_select :date %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit 'Create Item', class: "btn btn-primary" %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger", "data-dismiss" => "modal" %>
  </div>

<% end %>